name: .NET

on:
  push:
    branches: [ master ]
    paths:
    - 'apis/poi/**'
  pull_request:
    branches: [ master ]
    paths:
    - 'apis/poi/**'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  
jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
          run:
            working-directory: ./apis/poi
    steps:      

    - name: Login to GitHub Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: openhackkv74imm5acr.azurecr.io
        username: ${{ secrets.REPOSITORY_OWNER }}
        password: ${{ secrets.ACR_TOKEN }}
 
        
    - name: The job has failed
      uses: stefanstranger/azuredevops-bug-action@1.1  
      if: failure()
      with:
          OrganizationName: "SuperSix"
          PAT: "PAT"
          ProjectName: "SuperSixInsurance"
          AreaPath: "SuperSixInsurance\\DeploymentArea"
          IterationPath: "SuperSixInsurance"
          GithubToken: "GithubToken"
          WorkflowFileName: "dotnet.yml"
      env:
            PAT: ${{ secrets.PAT}}
            GithubToken: ${{ secrets.githubtoken}}
